.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rdata
.httr-oauth
.quarto
..Rcheck/
*.tar.gz
.vscode/

# outputs
lifelihood_*/
vignettes/*.html
/compiled*
/source_pascal/lazarus/*/
docs/

*cache*
*.html
*_files/
data_internals/
inst/doc
**/.quarto/
/doc/
/Meta/
docs
backup/

inst/bin/*
!inst/bin/lifelihood
!inst/bin/lifelihood.exe

*.log