.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rdata
.httr-oauth
.quarto
..Rcheck/
*.tar.gz
.vscode/

# outputs
lifelihood_*/
figure/
vignettes/*.html
/compiled*
/source_pascal/lazarus/*/
docs/

*cache*
*.html
*_files/
data_internals/
inst/doc
**/.quarto/
/doc/
/Meta/
docs
backup/

inst/bin/*
!inst/bin/lifelihood-macos-x86_64
!inst/bin/lifelihood-macos-aarch64
!inst/bin/lifelihood-macos
!inst/bin/lifelihood-linux-x86_64
!inst/bin/lifelihood-linux-aarch64
!inst/bin/lifelihood-linux
!inst/bin/lifelihood-windows.exe
!inst/bin/lifelihood-windows

*.log
*claude*
source-pascal
release.sh
LLfunctions.R
simulation-tradeoff-old.R
t.R

*.rmarkdown
