h1 {
  margin-top: 120px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 12px;
}

h3 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.topVignette {
  margin-top: 40px;
  margin-bottom: 10px;
}
