name: MacOS - Unit Tests

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.4.1"

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: remotes,devtools,testthat,tidyverse

      - name: Run unit tests
        shell: bash
        run: |
          R -e 'devtools::load_all()'
          R -e 'devtools::test(stop_on_failure = TRUE)'
